body {
	padding-top: 0px;
}

.period-edit-scroll {
	max-height: 400px;
	margin-top: 10px;
}

.series-edit-scroll {
	max-height: 450px;
}

.series-edit-scroll .form-horizontal {
	margin-bottom: 10px;
}

.row.table-container {
	margin-top: 15px;
}

.row.without-margin {
	margin-left: 0;
	margin-right: 0;
}

.row.without-margin .form-horizontal .form-group {
	margin: 0px;
}

.series-cell {
	font-family: Segoe UI;
	font-weight: bold;
}

.series-cell.value {
	color: #6A7;
}

.series-cell.name {
	color: #D65;
}

.period-edit-popup .modal-dialog {
	width: 338px;
}

.row.period-edit-block {
	margin-top: 0px;
}

.modal-dialog {
	padding-top: 120px;
}

.modal-footer.text-left {
	text-align: left;
}

.control-label.advanced-label {
	float: left;
	padding-right: 15px;
	width: 200px;
}

.control-label.advanced-label.empty {
	width: 0;
}

.advanced-input {
	float: left;
	width: 200px;
}

.glyphicon.glyphicon-asterisk {
	color: #FF0000;
}

.period-remove-btn {
	float: left;
}

.row.chart-presenter {
	border: 1px solid #AFAFAF;
	border-radius: 5px 5px 5px 5px;
	margin-bottom: 10px;
	min-height: 500px;
}

.chart-presenter>.block {
	min-height: 500px;
	padding-top: 10px;
}

.left.block {
	border-right: 1px solid #AFAFAF;
}

.right.block {
	
}

.gwt-CheckBox {
	display: block;
	padding: 5px 0;
}

.gwt-CheckBox label {
	margin-left: 5px;
}

.float-right {
	float: right;
}

.correlation-label {
	border-top: 1px solid #BABABA;
	padding: 8px 5px 10px 5px;
	font-size: 16px;
}

.form-horizontal.action-list-box {
	width: 300px;
	margin: 0px 30px 0px 15px;
}

.table.table-striped {
	margin-bottom: 0px;
}

.cleared-table td.remove-cell,.cleared-table th.remove-cell
	{
	display: none;
}

.gwt-DialogBox .Caption {
	background: #F1F1F1;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #bbbbbb;
	border-top: 1px solid #D2D2D2;
}

.gwt-DialogBox .dialogContent {
	
}

.gwt-DialogBox .dialogMiddleCenter {
	padding: 3px;
	background: white;
}

.gwt-DialogBox .dialogBottomCenter {
	background: url(../img/hborder.png) repeat-x 0px -2945px;
	-background: url(../img/hborder_ie6.png) repeat-x 0px -2144px;
}

.gwt-DialogBox .dialogMiddleLeft {
	background: url(../img/vborder.png) repeat-y -31px 0px;
}

.gwt-DialogBox .dialogMiddleRight {
	background: url(../img/vborder.png) repeat-y -32px 0px;
	-background: url(../img/vborder_ie6.png) repeat-y -32px 0px;
}

.gwt-DialogBox .dialogTopLeftInner {
	width: 10px;
	height: 8px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopRightInner {
	width: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	zoom: 1;
}

.gwt-DialogBox .dialogTopLeft {
	background: url(../img/circles.png) no-repeat -20px 0px;
	-background: url(../img/circles_ie6.png) no-repeat -20px 0px;
}

.gwt-DialogBox .dialogTopRight {
	background: url(../img/circles.png) no-repeat -28px 0px;
	-background: url(../img/circles_ie6.png) no-repeat -28px 0px;
}

.gwt-DialogBox .dialogBottomLeft {
	background: url(../img/circles.png) no-repeat 0px -36px;
	-background: url(../img/circles_ie6.png) no-repeat 0px -36px;
}

.gwt-DialogBox .dialogBottomRight {
	background: url(../img/circles.png) no-repeat -8px -36px;
	-background: url(../img/circles_ie6.png) no-repeat -8px -36px;
}

html>body .gwt-DialogBox {
	
}

* html .gwt-DialogBox .dialogTopLeftInner {
	width: 10px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogTopRightInner {
	width: 12px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomLeftInner {
	width: 10px;
	height: 12px;
	overflow: hidden;
}

* html .gwt-DialogBox .dialogBottomRightInner {
	width: 12px;
	height: 12px;
	overflow: hidden;
}

.cw-DialogBox {
	
}